@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: Montserrat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1366px;
  padding: 0 18px;
  margin: 0 auto;
}

/* .gradient-bg {
  background: linear-gradient(to bottom,#ff3067, #5d1326, black);
} */

.contacts-bg{
  background-image: url('/Contacts/contacts-bg.jpg');
  background-size: cover;
  background-position: center;
}

.main-bg-dark{
  background-image: url('/main-dark.jpeg');
  background-size: cover;
  background-position: center;
}

.main-bg-light{
  background-image: url('/main-light.jpeg');
  background-size: cover;
  background-position: center;
}

@keyframes pop {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.pop-element {
  animation: pop 3s infinite ease-in-out;
}

@keyframes rotateAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  animation: rotateAround 3s infinite ease-in-out;
}

.dark{
  background: #1f1f1f;
}

.navigation-button-gradient{
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to left, #f75380, #0075ff);
}

#infiniteSlider .swiper-wrapper{
  width: 100%;
  transition-timing-function: linear !important;
}